- if !isMember? current_user, @group
  = link_to "Join this Group!", group_path(join: true), method: :put
-else
  = link_to "Leave this Group", group_path(leave: true), :confirm => "Are you sure?", method: :put

%br
- if (isAdmin?(current_user, @group) || isOwner?(current_user, @group))
  =link_to "Edit this Group", edit_group_path

